body {
    padding: 20px;
    width: 70%;
    text-align: center;
}

figure {
    margin: 0;
    text-align: left;
}

caption {
    font-weight: bold;
}

table {
    width: 100%;
}

#таблица3 {
    text-align: left
}